<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602365602787-41mur6vkofohi0g5vj57emq4scm1ap6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602365602787-41mur6vkofohi0g5vj57emq4scm1ap6r</string>
	<key>API_KEY</key>
	<string>AIzaSyBTqARP2wmob0Xrf-Wt7OLu8m0CF84IRPo</string>
	<key>GCM_SENDER_ID</key>
	<string>602365602787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnh.emojiMix</string>
	<key>PROJECT_ID</key>
	<string>who-sthatemoji</string>
	<key>STORAGE_BUCKET</key>
	<string>who-sthatemoji.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602365602787:ios:2c6adb62eef9d9e81d8ed6</string>
</dict>
</plist>